.search-box
    height 50vh
    min-height 400px
    background-color primary-color
    background url(../images/logo-dark.svg) 18% 50%/600px no-repeat primary-color;
    padding 0 16px
    .search-box-inner
        max-width 1200px
        width 100%
    &.mini
        height auto
        min-height 0
        padding 16px
        display block
            margin 0 auto
        .search-box-heading
            display block
            h1
                font-size 40px
            p
                text-align left
        form
            margin-top 20px
    flex-column(center, center)
    .search-box-heading
        color white
        flex-column(center, center)
        h1
            font-size 55px
        p
            text-align center
    form
        max-width breakpoint-xl
        margin-top 50px
        flex(center)
        & > *
            margin 0 2px
            flex-grow 1
        button
            margin-left 12px
            background secondary-color
            height input-height
            line-height input-height
            color light-gray
            &:hover, &:focus
                background lighten(secondary-color, 5%)
        @media (max-width breakpoint-md)
            &
                flex-column()
                & > *
                    margin 2px 0
                button
                    margin-left 0
                    margin-top 8px

.button
    color #ffffff
    background primary-color
    height button-height
    line-height button-height
    font-size 14px
    padding 0 24px
    border none
    cursor pointer
    &:hover, &:focus
        background darken(primary-color, 5%)
        outline 0
.icon-outer
    &.has-badge
        position relative
        .badge
            border-radius 2px
            color #fff
            width 12px
            height 12px
            background primary-color
            text-align center
            line-height 12px
            font-size 12px
            position absolute
            top -6px
            right -6px
            z-index 2

input:not([type="checkbox"]):not([type="radio"]), select
    height input-height
    border none
    background #fff
    padding 0 10px
    &:focus
        outline 0

input[type="checkbox"]
    display none
input[type="checkbox"] + label
    padding 4px 0 0 28px
    position relative
    &::before
        content ""
        background white
        border 1px solid white-gray
        display block
        position absolute
        left 0
        top 50%
        transform translateY(-50%)
        width 18px
        height 18px
        border-radius 2px
        text-align center
        line-height 20px
input[type="checkbox"]:checked
    & + label::before
        content "✔"

.pic-responsive
    display block
    width 100%
    padding-bottom 100%
    position relative
    overflow hidden

.pic-responsive img
    position absolute
    -moz-transform translate(-50%, -50%)
    -ms-transform translate(-50%, -50%)
    -webkit-transform translate(-50%, -50%)
    transform translate(-50%, -50%)
    left 50%
    top 50%
    height 100%
    width auto
    max-width none

.separator
    border-top 1px solid white-gray

.container
    max-width breakpoint-xl
    margin 0 auto


.carousel-outer
    display grid
    grid-template-columns 50px 1fr 50px
    position relative
    .carousel-items-outer
        overflow hidden
    .carousel-items
        flex()
        transition transform 0.2s ease-in-out
    .carousel-arrow
        flex-column(center, center)
    .carousel-control
        cursor pointer
        width 40px
        height 40px
        border 1px solid #eee
        text-align center
        flex(center, center)
        font-size 20px
        border-radius 50%
        color primary-color
    &.scroller
        grid-template-columns 1fr
        .carousel-arrow
            width 70px
            background rgb(246,246,246);
            height 100%
            position absolute
            z-index 10
            top 50%
            pointer-events none
            transform translateY(-50%)
            &.left
                background linear-gradient(90deg, rgba(246,246,246,1) 0%, rgba(255,255,255,0) 100%);
                left 0
            &.right
                background linear-gradient(-90deg, rgba(246,246,246,1) 0%, rgba(255,255,255,0) 100%);
                right 0
        .carousel-control
            color secondary-color
            border 0
            pointer-events all