.products-carousel-outer
    border-bottom 1px solid white-gray
    background white
    .products-carousel
        padding 26px 18px
        h2
            color light-gray
            padding 0 50px
            font-size 22px
            margin-bottom 18px
        @media (max-width breakpoint-md)
            &
                padding 26px 5px
.products-multi-carousel
    margin-top 20px
    margin-bottom 20px
    .products-multi-carousel-header
        color light-gray
        padding 20px 50px
        margin-bottom 30px
        border-bottom 1px solid white-gray
        flex(space-between, center)
        .section-details
            flex(flex-start, center)
            .icon
                font-size 30px
            & > * + *
                margin-left 16px
        .links a
            color primary-color
        @media (max-width breakpoint-md)
            .section-details
                flex-column(flex-start, flex-start)
                & > * + *
                    margin-left 0
                    margin-top 8px
        @media (max-width breakpoint-sm)
            flex-column(flex-start, flex-start)
            .links
                margin-top 12px