flex(justify = null, align = null)
    display flex
    if (justify)
        justify-content justify
    if (align)
        align-items align

flex-column(justify = null, align = null)
    flex(justify, align)
    flex-direction column

flex-vertically-centered()
    flex(flex-start, center)