*
    box-sizing border-box
body
    margin 0
    font-family primary-font
    background rgb(246, 246, 246)

img
    max-width 100%


a,
a:hover
    text-decoration none

ul
    padding 0
    margin 0
    list-style-type none

h1, h2, h3, h4, h5, h6, p
    margin 0