primary-color = #D35266
secondary-color = #383838
light-gray = #888888
white-gray = #dddddd

primary-font = HelveticaNeue, sans-serif
secondary-font = Gotham, sans-serif
sub-font = "Gotham Rounded", sans-serif

/* COMMON */
button-height = 38px
input-height = 48px

/* HEADER */

header-height = 64px
header-mobile-height = 48px



product-actions-height = 48px

/* VIEWPORTS BREAKPOINTS */

breakpoint-sm = 576px
breakpoint-md = 768px
breakpoint-lg = 992px
breakpoint-xl = 1200px