primary-color = #D35266
secondary-color = #383838
light-gray = #888888

primary-font = HelveticaNeue
secondary-font = Gotham

/* COMMON */
button-height = 38px
input-height = 48px

/* HEADER */

header-height = 64px
header-mobile-height = 48px


/* VIEWPORTS BREAKPOINTS */

breakpoint-sm = 576px
breakpoint-md = 768px
breakpoint-lg = 992px
breakpoint-xl = 1200px